=======================================
          Linux Settings
=======================================

// Default sound card name
default_sound_card: default
// Default mixer name
default_mixer_name: Master
// Asound mode
mode_default: 0
// Left channel index
left_channel_index: 1
// Left mouse button index
left_mouse_button: 1
// Middle mouse button index
middle_mouse_button: 2
// Right mouse button index
right_mouse_button: 3
// Wheel-up index
wheelu_mouse_button: 4
// Wheel-down index
wheeld_mouse_button: 5